{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Café Français</title>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
  <div class="background-container">
    <header>
      <h1 class="title">cherie Café Français</h1>
      <a href="/login/" class="login-icon">Login</a>
    </header>
    <section class="info-section">
      <p>Welcome to Cherie Café Français, where we bring the authentic flavors of France to your table, celebrating centuries of culinary tradition.</p>
      <p> French cuisine is known worldwide for its elegance, attention to detail, and exquisite balance of flavors.</p>

<p>  Satisfy your sweet cravings with classic French desserts like buttery croissants, colorful macarons, creamy *Crème Brûlée*, and decadent fruit tarts. These desserts are crafted with precision and the finest ingredients.
French gastronomy is rooted in the use of fresh, high-quality ingredients. The principles of seasonality and sustainability are at the heart of every French dish, creating meals that are not only delicious but also wholesome.<p>
<p>French dining is more than just food—it's an art form. It’s about savoring every bite, appreciating the blend of flavors, and enjoying the moments of indulgence. At Cherie Café Français, we bring the charm and sophistication of Paris straight to your plate.</p>

    
    </section>
  </div>
</body>
</html>
