
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url('/static/assest/image/bg2.jpg')
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #c0baba;
}


.success-container {
    text-align: center;
    background: rgba(31, 30, 30, 0.9);
    padding: 40px 50px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 90%;
}


.success-container p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #d1c8c8;
}


.success-container a {
    color: #dfbb9b;
    text-decoration: none;
    font-weight: bold;
}

.success-container a:hover {
    text-decoration: underline;
}


.success-container .login-message {
    font-size: 16px;
    color: #c0baba;
    margin-top: 10px;
}
